@using MauiApp1.Models
<h3>CardComponent</h3>

@if (Items is not null)
{
    
    foreach (var pair in Items.Select((d, i) => new { d, i }))
    {
        // ประกาศการจับคู่ id
        var d = pair.d;
        var index = pair.i;

        // จับคู่คำอธิบายตาม index (ถ้าจำนวนไม่เท่ากันให้เช็คขอบเขต)
        DiseaseDescriptions? desc =(index >= 0 && index < _diseasesDescriptions.Count) 
            ? _diseasesDescriptions[index] 
            : null;

            var modalId = $"disease-modal-{index}"; // สร้าง ID เฉพาะสำหรับแต่ละโมดัล



        <div class="card w-auto" style="margin-bottom : 4px;background-color :#FFF2EF">
            <div class="card-body" >
                <h5 class="card-title">@d.Name</h5>
                <p class="card-text">อาการ: @d.Symptom</p>
            </div>
            <ButtonModelComponent ModalId="@modalId" Title="@d.Name" Item="@desc" />
        </div>
    }
}


@code {
    [Parameter] public IEnumerable<Disease>? Items { get; set; }

    private readonly List<DiseaseDescriptions> _diseasesDescriptions = new()
    {
        new DiseaseDescriptions
        {
            Disease_Subcription  = "ผ่านการสัมผัสกับสารคัดหลั่งที่ทำให้เกิดการติดเชื้อแบคทีเรียทรีโพนีมา พาลลิดัม สาเหตุที่ทำให้เป็นแผลซิฟิลิส หรือแผลริมแข็ง ขึ้นเป็นตุ่มนูนแตกออกเป็นแผลกว้างที่ปาก อวัยวะเพศ หรือทวารหนัก โรคซิฟิลิสที่ไม่ได้รับการรักษาให้หายตั้งแต่ระยะเป็นแผลจะพัฒนาเข้าสู่ระยะออกดอก และระยะติดเชื้อที่ทำลายระบบประสาท ระบบหลอดเลือดและหัวใจ และทำให้เสียชีวิตได้ในที่สุด",
            Disease_Cause = "เป็นกามโรคชนิดหนึ่งที่ติดต่อจากคนสู่คนโดยมีสาเหตุจากการติดเชื้อแบคทีเรียทรีโพนีมา พาลลิดัม ผ่านการสัมผัสโดยตรงกับสารคัดหลั่งของผู้ติดเชื้อ เช่น การมีเพศสัมพันธ์โดยไม่สวมถุงยางอนามัย การทำรักด้วยปากหรือการทำออรัลเซ็กส์ (Oral sex) การจูบที่สัมผัสกับน้ำลาย การสัมผัสกับบาดแผลหรือเยื่อเมือกของผู้ที่ติดเชื้อ หรือการติดเชื้อจากแม่สู่ลูกขณะตั้งครรภ์ หรือระหว่างการคลอดบุตร",
            Disease_Treatment = "•ใช้ยาปฏิชีวนะ เพนิซิลลิน ขนาดสูงเป็นหลัก • ระยะที่ 1: ฉีดเข้ากล้ามเพียง 1 เข็ม แม้ไม่มีอาการหรือผลเลือดลบ (โดยเฉพาะคู่เพศสัมพันธ์) • ระยะที่ 2–3: ฉีดเข้ากล้ามสัปดาห์ละครั้ง รวม 3 เข็ม หากมีการติดเชื้อในอวัยวะสำคัญหรืออาการรุนแรง อาจต้องให้ยาทางหลอดเลือดดำb• การติดตาม: ตรวจเลือดที่ 3 เดือน, 6 เดือน และทุกปีb• คำแนะนำ: งดเพศสัมพันธ์จนกว่าผลเลือดเป็นลบ หรือหากจำเป็นต้องมีเพศสัมพันธ์ให้สวมถุงยาง และควรแจ้งคู่เพศสัมพันธ์เข้ารับการตรวจรักษา",
            Disease_Prevention = " • สวมถุงยางอนามัยทุกครั้งเมื่อมีเพศสัมพันธ์ • ไม่เปลี่ยนคู่นอนบ่อย หลีกเลี่ยงพฤติกรรมเสี่ยง • งดจูบปากหรือออรัลเซ็กส์กับคู่นอนชั่วคราว • ไม่ใช้ sex toy ร่วมกับผู้อื่น"
        },
        new DiseaseDescriptions
        {
            Disease_Subcription = "โรคเอดส์ (AIDS) หรือภาวะภูมิคุ้มกันบกพร่อง คือ ระยะสุดท้ายของการติดเชื้อไวรัสเอชไอวี (HIV) ที่ทำให้เซลล์เม็ดเลือดขาว CD4 หรือ T-cells ในระบบภูมิคุ้มกันร่างกายถูกทำลาย ส่งผลให้ภูมิคุ้มกันร่างกายลดต่ำ       ⭐️ระยะการติดเชื้อ HIV มี 3 ระยะ ได้แก่    🩵 ระยะที่ 1 : ระยะแรกเริ่มของการติดเชื้อ HIVเป็นระยะแรกของการติดเชื้อเอชไอวี ในช่วง 2-4 สัปดาห์แรกหลังการได้รับเชื้อ ในระยะแรกเริ่มของการติดเชื้อ HIV นี้ ไวรัสจะแบ่งตัวเพิ่มจำนวนขึ้นอย่างรวดเร็วและทำลายเซลล์เม็ดเลือดขาว CD4 หรือ T-cells ให้ลดจำนวนลงอย่างรวดเร็วเช่นกัน       🩵 ระยะที่ 2 : ระยะติดเชื้อโดยไม่มีอาการเป็นการติดเชื้อระยะแฝงที่เชื้อไวรัส HIV อยู่ในร่างกายโดยไม่แสดงอาการใด ๆ  ผู้ที่ติดเชื้อส่วนใหญ่จะมีสภาพร่างกายเป็นปกติเหมือนบุคคลทั่วไป       🩵 ระยะที่ 3 : ระยะเอดส์เต็มขั้นหรือระยะโรคเอดส์เป็นระยะที่การติดเชื้อ HIV ได้พัฒนากลายเป็นโรคเอดส์โดยสมบูรณ์ ผู้ติดเชื้อในระยะนี้จะมีระดับ CD4 ในร่างกายน้อยกว่า 200 เซลล์ต่อลูกบาศก์มิลลิเมตร ทำให้ร่างกายอ่อนแอลงอย่างมากจนนำไปสู่การการเกิดโรคแทรกซ้อน และโรคติดเชื้อฉวยโอกาส",
            Disease_Cause = "1. การมีเพศสัมพันธ์โดยไม่สวมถุงยางอนามัย โดยมีการสอดใส่ระหว่างอวัยวะเพศชาย-หญิง ทางทวารหนักระหว่างชาย-ชาย หรือระหว่างหญิง-หญิงที่มีการสัมผัสกับสารหล่อลื่นในช่องคลอด ทั้งนี้การมีเพศสัมพันธ์โดยไม่ป้องกัน เป็นสาเหตุสำคัญของการติดเชื้อ HIV ในผู้ป่วยเอดส์ทั่วโลกเกินกว่าร้อยละ 80    2. การใช้เข็มฉีดยาร่วมกันกับผู้ติดเชื้อ HIV โดยมักพบพฤติกรรมดังกล่าวในกลุ่มผู้ใช้สารเสพติดโดยการฉีดสารเสพติดเข้าเส้นเลือด      3. การติดเชื้อ HIV ผ่านการสัมผัสกับเลือด หรือน้ำเหลืองจากบาดแผลเปิดภายนอกผิวหนัง หรือแผลในช่องปาก รวมถึงการใช้ของใช้ส่วนตัวที่มีลักษณะเป็นของมีคมร่วมกันกับผู้ติดเชื้อ HIV      4. การติดเชื้อ HIV จากแม่สู่ลูกขณะตั้งครรภ์ ในระหว่างการคลอดบุตร และการให้นมบุตร",
            Disease_Treatment = "การรักษาด้วยยาต้านเอชไอวีเท่านั้น เนื่องจากเป็นวิธีการรักษาที่ได้ผลดีที่สุด โดยผู้ติดเชื้อจะได้รับยาต้านเอชไอวีอย่างน้อย 3 ชนิดร่วมกันเป็นสูตรยา แต่มีหลักการรักษา คือ ผู้ติดเชื้อต้องกินยาให้ตรงเวลาทุกวันต่อเนื่องตลอดชีวิต เพราะยาจะไปทำการยับยั้งการแบ่งตัวและการเพิ่มจำนวนของเชื้อไวรัส ถ้าหยุดกินเมื่อไหร่ก็จะทำให้เชื้อไวรัสแบ่งตัวเพิ่มจำนวนและแพร่กระจาย",
            Disease_Prevention = "• สวมถุงยางอนามัยทุกครั้งก่อนมีเพศสัมพันธ์     • หากมีแผลเปิดที่มีเลือดไหล ควรทำความสะอาดและปิดแผลให้สนิท     • ไม่ใช้เข็มฉีดยาร่วมกันกับผู้อื่น     • ไม่เปลี่ยนคู่นอนบ่อย หลีกเลี่ยงพฤติกรรมเสี่ยงทางเพศ    • พบแพทย์เพื่อรับยาต้านไวรัส HIV ทันทีที่สงสัยว่าอาจสัมผัสกับเชื้อ HIV หรือก่อนการสัมผัสกับเชื้อ HIV    • ตรวจเลือด หรือตรวจสุขภาพประจำปีอย่างน้อยปีละครั้งเพื่อวัดระดับภูมิคุ้มกันร่างกาย",
        },
        new DiseaseDescriptions
        {
            Disease_Subcription = "test3",
            Disease_Cause = "3",
            Disease_Treatment = "",
            Disease_Prevention = ""
        },
        new DiseaseDescriptions
        {
            Disease_Subcription = "โรคหนองในเป็นโรคติดต่อทางเพศสัมพันธ์ พบได้ทั้งในเพศชายและเพศหญิง  อาการที่พบบ่อย ได้แก่ มีตกขาวผิดปกติออกมาทางช่องคลอดหรือหนองจากอวัยวะเพศชาย หรือมีปัสสาวะแสบขัด วิธีการรักษา ได้แก่ การให้ยาปฏิชีวนะ หากไม่ได้รับการรักษาอย่างเหมาะสมอาจทำให้การติดเชื้อลุกลามหรือรุนแรงมากขึ้น หรือมีภาวะแทรกซ้อน",
            Disease_Cause = "โรคหนองในเกิดจากเชื้อแบคทีเรียไนซีเรียโกโนเรีย (Neisseria gonorrhoeae)  ซึ่งสามารถติดต่อจากคู่นอนระหว่างการมีเพศสัมพันธ์ผ่านทางช่องคลอด ทางปาก หรือทางทวารหนัก  โดยการแพร่เชื้อนั้นอาจเกิดได้แม้จะไม่มีการหลั่งน้ำเชื้อ อย่างไรก็ตาม การสัมผัสกับวัตถุสิ่งของ เช่น โถส้วม ไม่ทำให้ติดเชื้อ",
            Disease_Treatment = "การรักษาทำได้โดยการฉีดยาปฏิชีวนะ หากอาการไม่ดีขึ้น ควรกลับมาพบแทย์ทันทีเนื่องจากเชื้ออาจดื้อยา ผู้ป่วยควรงดมีเพศสัมพันธ์อย่างน้อย 7 วันหลังเข้ารับการรักษาเพื่อป้องกันการแพร่เชื้อ",
            Disease_Prevention = "- สวมถุงยางอนามัยทุกครั้งเมื่อมีเพศสัมพันธ์       - หลีกเลี่ยงการมีเพศสัมพันธ์หากคุณและคู่ของคุณมีตกขาวหรือของเหลวออกมาทางอวัยวะเพศ หรือรู้สึกแสบขัดเมื่อปัสสาวะ"
        },
       
    };
   
}
